/checkouts/
*.class
/classes/
figwheel_server.log
*jar
*.jar
.lein-deps-sum
/.lein-env
/.lein-failures
.lein-failures
.lein-plugins/
.lein-repl-history
/lib/
/node_modules
.nrepl-port
/out/
pom.xml
pom.xml.asc
.repl
/resources/public/js
/resources/public/js/compiled/**
/target/
/.shadow-cljs
/.cpcache/
