.is-fullsize {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 40px);
  margin-left: 0;
  margin-right: 0;
}

.is-fullheight {
  height: 100%;
  min-height: calc(100vh - 40px);
}

table.is-fixed {
  table-layout: fixed;
}

table.is-light,
tr.is-light {
  background-color: #f5f5f5;
}

table.is-fixed td,
table.is-fixed th,
table.is-wide td,
table.is-wide th,
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.notification.side-panel {
  display: flex;
  border-radius: 0;
  margin-bottom: 0;
  width: 20em;
}

.side-panel .menu {
  width: 100%;
}

.side-panel {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-wide {
  width: 100%;
}

.is-tall {
  height: 100%;
}

.is-short {
  width: 5em;
}

table td.is-shrink,
table th.is-shrink {
  white-space: nowrap
}

table td.is-expand,
table th.is-expand {
  width: 100%;
  max-width: 100%;
}

.table tr.is-selected.is-link {
  background-color: #3273dc;
}

.table {
  width: 100%;
  margin: 0;
}

td.ellipsis {
}

td.ellipsis:last-child {
  width: 100%;
  max-width: 0;
}

.modal-card {
  min-width: 75%;
  min-height: 75%;
}

.modal-card-foot {
  justify-content: "flex-end";
}

svg.is-color {
  fill: currentColor;
}

.hero.is-rounded {
  border-radius: 6px;
}

.notification.is-plain a:not(.button) {
  text-decoration: none;
}

.activity-hbar {
  width: 100%;
  height: 2px;
}

.activity-vbar {
  width: 2px;
  height: 100%;
}

.activity-hbar.is-active,
.activity-vbar.is-active {
  background-color: #ff0000;
}

table.table thead tr.is-not-hoverable.is-light:not(.is-selected):hover,
table.table.is-not-hoverable.is-light thead tr:not(.is-selected):hover,
table.table thead tr.is-not-hoverable.is-light:not(.is-selected):hover,
table.table.is-not-hoverable.is-light tbody tr:not(.is-selected):hover,
table.table tbody tr.is-not-hoverable.is-light:not(.is-selected):hover {
  background-color: #f5f5f5;
}

table.table thead tr.is-not-hoverable.is-white:not(.is-selected):hover,
table.table.is-not-hoverable.is-white thead tr:not(.is-selected):hover,
table.table thead tr.is-not-hoverable.is-white:not(.is-selected):hover,
table.table.is-not-hoverable.is-white tbody tr:not(.is-selected):hover,
table.table tbody tr.is-not-hoverable.is-white:not(.is-selected):hover {
  background-color: #ffffff;
}
